.btn {
    //min-width: 200px;
}

.btn-short {
    min-width: auto;
}

.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    color: #fff;
    background-color: $primary-hover;
    border-color: $primary;
}

.btn-secondary {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover {
    color: #fff;
    background-color: $secondary-hover;
    border-color: $secondary;
}