.tab {
    //margin-bottom: $spacer;
}

.tab .nav-tabs {
    border: 0;
}

.tab .nav-tabs .nav-link {
    background: transparent;
    color: #343a40;
    padding: .75rem 1rem;
    border: 0;
}

.tab .nav-pills .nav-link {
    color: #343a40;
}

.tab .nav-tabs .nav-link.active {
    background: #fff;
    color: #343a40;
}

.tab .nav-pills .nav-link.active {
    color: #fff;
}

.tab .nav-tabs .nav-link:hover:not(.active),
.tab .nav-pills .nav-link:hover:not(.active) {
    color: $primary;
}

.tab .tab-content {
    background: #fff;
    padding: 1.25rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
}

.tab-pane.nav-inner {
    margin-top: -1.25rem;
}

.tab-pane.nav-inner .nav {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.tab-pane.nav-inner .tab-content {
    box-shadow: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}